extends ../layouts/application.pug

block content
  table.table.table-striped.text-white.bg-secondary
    thead
      tr
        th.text-white= t('views.users.id')
        th.text-white= t('views.users.email')
        th.text-white= t('views.users.createdAt')
    tbody.text-white
      each user in users
        tr
          td.text-white= user.id
          td.text-white= user.email
          td.text-white= formatDate(user.createdAt)
