extends ../layouts/application.pug

block content
  a.nav-link(href=route('newStatus'))= t('layouts.application.statusesNew')
  table.table.table-striped
    thead
      tr
        th.text-white= t('views.statuses.id')
        th.text-white= t('views.statuses.name')
        th.text-white= t('views.statuses.createdAt')
        th.text-white= t('views.statuses.action')
        th
    tbody.text-white
      each status in statuses
        tr
          td.text-white= status.id
          td.text-white= status.name
          td.text-white= formatDate(status.createdAt)
          td
            a(href=`/statuses/${status.id}/edit`)= t('views.statuses.edit.submit')
            +buttonTo(`/statuses/${status.id}`, 'delete')(value=t('views.statuses.delete') class="btn btn-link")
