extends ../layouts/application.pug

block content
  a.nav-link(href=route('newTask'))= t('layouts.tasks.create')
  .card
    .card-body.p-2.bg-dark
      form(action='/tasks' method='get')
        .row
          +tasksFilter(statuses, filter.status, 'status', t('views.tasks.status'))
          +tasksFilter(executors, filter.executor, 'executor', t('views.tasks.executor'))
          +tasksFilter(labels, filter.label, 'label', t('views.tasks.label'))  
        +filterByCreator(filter.creator, 'isCreatorUser', t('layouts.tasks.own'))
        +submit()(value=t('views.tasks.show'))

  table.table.table-striped
    thead
      tr
        th.text-white= t('views.tasks.id')
        th.text-white= t('views.tasks.name')
        th.text-white= t('views.tasks.status')
        th.text-white= t('views.tasks.author')
        th.text-white= t('views.tasks.executor')
        th.text-white= t('views.tasks.createdAt')
        th.text-white= t('views.tasks.action')
        th
    tbody.text-white
      each task in tasks
        tr
          td.text-white= task.id
          td.text-white
            a(href=`/tasks/${task.id}`)=  _.get(task, 'name', '')
          td.text-white= _.get(task, ['status', 'name'], '')
          td.text-white #{_.get(task, ['creator', 'firstName'], '')} #{_.get(task, ['creator', 'lastName'], '')}
          td.text-white #{_.get(task, ['executor', 'firstName'], '')} #{_.get(task, ['executor', 'lastName'], '')}
          td.text-white= formatDate(task.createdAt)
          td
            a(href=`/tasks/${task.id}/edit`)= t('views.tasks.edit.submit')
            +buttonTo(`/tasks/${task.id}`, 'delete')(value=t('views.tasks.delete') class="btn btn-link")
